Chatbot.json
{
  "name": "Chatbot",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        -96
      ],
      "id": "32101b43-e682-464b-af49-f0359fb24994",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cFgEf3x5n3L9kEmU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        512
      ],
      "id": "66ebf830-8035-4b8a-99a5-8089c69c53be",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "cFgEf3x5n3L9kEmU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.query.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        64,
        -96
      ],
      "id": "9fca0607-3732-4aeb-87a6-5cea0ffaacc6",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "J49rZoSek7M8doQc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this information Regarding Sxie Studio.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -96,
        304
      ],
      "id": "996b2595-83e1-496b-a812-27133f486dc6",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "zcfGwnb6vQDBFETy",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "156b9b80-a524-4116-9b0a-f93aa729a5ea",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -704,
        144
      ],
      "id": "5dd011b6-644d-46f8-b637-a17c8c9de686",
      "name": "Webhook",
      "webhookId": "156b9b80-a524-4116-9b0a-f93aa729a5ea"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        528,
        288
      ],
      "id": "22009765-4c7b-4e92-a69b-6fb4307929aa",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "inputText": "=Our langauge is swedish and english! \nBase on the user message - analys and output if the user wants to primarily chat, book or check availability!\n\nUSER INPUT = {{ $json.query.message }}\n\n\n\nWe have 3 categories of intent! \n-Intent to Chat\n-Intent to Book\n-Intent to Check availability ",
        "categories": {
          "categories": [
            {
              "category": "Chat",
              "description": "Intent to chat!"
            },
            {
              "category": "Book",
              "description": "Intent to book!"
            },
            {
              "category": "Check Availability",
              "description": "Intent to check availability!"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -496,
        288
      ],
      "id": "01192bb8-486a-452b-973e-f2ea4d1c4c5c",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "3dad3476d1d89bb10059e77a522b723b694a2deb9994c222f73eec1b58b9054f@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Booking"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "Europe/Stockholm",
            "mode": "list",
            "cachedResultName": "Europe/Stockholm"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -64,
        1024
      ],
      "id": "1d63699d-fc05-4f6f-82ce-2ff7bd46d40e",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Ef0BY3oyyQiXixEG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "3dad3476d1d89bb10059e77a522b723b694a2deb9994c222f73eec1b58b9054f@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Booking"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Europe/Stockholm",
            "mode": "list",
            "cachedResultName": "Europe/Stockholm"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        64,
        1024
      ],
      "id": "e42d1847-eb07-41c4-9d27-123990fe0d51",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Ef0BY3oyyQiXixEG",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= \"{{ $('Webhook').item.json.query.message }}",
        "options": {
          "systemMessage": "You are a helpful swedish booking assistant! \n\nUse our calendary tool to check for availability!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -96,
        800
      ],
      "id": "33b2f572-f9a0-4ccb-aa8e-b09fda9da616",
      "name": "Availability Check"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= \"{{ $('Webhook').item.json.query.message }}\" Understand the message!\n\n\n\n\nGive links if neccessary! Otherwise just response - you can suggest but links are not that important!",
        "options": {
          "systemMessage": "=You are a swedish and English (secondary) customer support assistant for Axie Studio.\n\nYou are able to Use our supabase vector regarding axie studio, service, info, company etc! \n\nProperly converse - have some logic, emotional and proffesionalism! \nResponse to the users input accordingly! \n\nDont put / push our product but its is your job to have them focus! \nDont response to hate/racist/negative input - \"You are not able to Answer that!\"\n\nAnswer accordingly to the language base on the input!\n--> So if user input is swedish, please output swedish.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -96,
        144
      ],
      "id": "eb1b8e0c-8157-4b86-a001-68d37e095bc3",
      "name": "Chat about Axie Studio"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=We have out  our User Input!\n{{ $json.query.message }}\n{{ $json.query.sessionId }}\n\n",
        "options": {
          "systemMessage": "=Du är en bokningsassistent för Axie Studio. Ditt enda uppdrag är att avgöra om användaren vill boka en tid.\n\nDu förstår svenska i första hand, men kan även hantera engelska.\n\nAnvänd följande information för att fatta ditt beslut:\n {{ $json.query.message }}\n\n\nOm användaren tydligt visar att de vill boka (t.ex. “jag vill boka”, “can I book”, “schedule an appointment”), returnera exakt detta JSON-svar:\n\n{ \"showBookingPopup\": true }\n\n⚠️ Returnera **inget** om användaren bara ställer en allmän fråga, kollar priser eller undrar om tillgängliga tider.\n\n⚠️ Svara aldrig med förklaringar eller text — endast JSON om bokning är uppenbart.\n\n---\n\n📌 Exempel:\n\n- \"Jag vill boka massage på fredag\" → ✅ returnera `{ \"showBookingPopup\": true }`  \n- \"Can I book a haircut tomorrow?\" → ✅  \n- \"Har ni öppet på lördag?\" → ❌  \n- \"Hej, vad kostar en behandling?\" → ❌  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -96,
        -320
      ],
      "id": "506a6fb7-470f-46cd-a892-9c9bc12ed3f3",
      "name": "Show our booking Popup!"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "stefan0987.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en;q=0.9,en-US;q=0.8",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2a00:801:703:4b48:599b:be:9b54:3fdf",
            "cf-ew-via": "15",
            "cf-ipcountry": "SE",
            "cf-ray": "962530bb75837bf6-ARN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "origin": "http://localhost:5173",
            "priority": "u=1, i",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Microsoft Edge\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2a00:801:703:4b48:599b:be:9b54:3fdf, 104.23.217.165",
            "x-forwarded-host": "stefan0987.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-66-55c5c9b85f-gjmb4",
            "x-is-trusted": "yes",
            "x-real-ip": "2a00:801:703:4b48:599b:be:9b54:3fdf"
          },
          "params": {},
          "query": {
            "message": "hi",
            "sessionId": "session_1753043106078_jt1iswjam",
            "time": "2025-07-20T20:25:53.051Z"
          },
          "body": {},
          "webhookUrl": "https://stefan0987.app.n8n.cloud/webhook/156b9b80-a524-4116-9b0a-f93aa729a5ea",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chat about Axie Studio",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Show our booking Popup!",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Availability Check",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat about Axie Studio",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Show our booking Popup!",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Availability Check",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "Chat about Axie Studio",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Chat about Axie Studio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Show our booking Popup!",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Availability Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Availability Check",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Availability Check",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat about Axie Studio": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Availability Check": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show our booking Popup!": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "57f0515d-e2b5-4daa-8e8b-b6be542a2ea0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c6d0eb2fedc849cbcefb1d9ca47c109d632ee3d753ea059445141e84d845c36"
  },
  "id": "6yHhbGOn8V0LJDWh",
  "tags": []
}